# ---------------------------------
# Operating System Files
# ---------------------------------
.DS_Store
Thumbs.db
Desktop.ini

# ---------------------------------
# Build Artifacts (C/C++)
# ---------------------------------
# Object files
*.o
*.obj
*.slo
*.lo
*.d

# Static & Dynamic Libraries
*.a
*.lib
*.la
*.lai
*.so
*.dylib
*.dll
*.exp

# Executables
*.exe
*.out
*.app
*.msi

# Debugging & Logs
*.pdb
*.idb
*.ilk
*.tlog
*.log
*.map
*.suo

# ---------------------------------
# CMake (Build System)
# ---------------------------------
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
*.cmake
!sdl2-config*.cmake

# ---------------------------------
# Visual Studio (IDE & Legacy)
# ---------------------------------
# We ignore these now as we switched to CMake
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ups

# VS Temporary files
.vs/
*.vsidx
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Standard VS Build Output folders
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# ---------------------------------
# Visual Studio Code
# ---------------------------------
.vscode/*.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# ---------------------------------
# WASAbi Project Specifics
# ---------------------------------
# The build folder (Critical)
source/build/
build/

# The compiled Executables
source/WASAbiApp
WASAbiApp

# Local Configuration (Keep default.ini, ignore active config)
source/config/config.ini

# Simulation Outputs
source/output/
output/

# Profiler Results
source/Intel® VTune™ Profiler Results/
*.asv

# Archives
*.7z
*.zip
*.rar
*.tar.gz
.vscode/tasks.json

# ---------------------------------
# CUDA
# ---------------------------------
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.fatbin.c
*.module_id
*.cudafe1.c
*.cudafe1.cpp
*.cudafe1.gpu
*.nv/
*.nvb/
build_log.txt
