# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ilk
*.vsidx
*.lock
*.db
*.ipch
*.db-shm
*.db-wal
*.opendb
*.tlog
*.log
*.idb
*.pdb
*.idb
*.tlog
*.log
*.pdb
*.idb
*.mp3
*.wav
*.7z
*.7z
*.suo
*.ipynb

source/output/*.*
source/x64/Debug/WASAbi2.5D.vcxproj.FileListAbsolute.txt
preprocessing/data/*.txt
postprocessing/data/*.*
